<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <div class="inventory-form">
                        <form action="/inv/add-inventory" method="post">
                            <label for="classificationList">Classification:</label><br>
                            <%- classificationList %><br>
                            <label for="inv_make">Make:</label><br>
                            <input type="text" id="inv_make" name="inv_make" placeholder="Enter Vehicle Make" required
                                pattern="^[A-Za-z ]+$" value="<%= locals.inv_make %>"><br>
                            <label for="inv_model">Model:</label><br>
                            <input type="text" id="inv_model" name="inv_model" placeholder="Enter Vehicle Model" required
                                pattern="^[A-Za-z ]+$" value="<%= locals.inv_model %>"><br>
                            <label for="inv_year">Year:</label><br>
                            <input type="number" id="inv_year" name="inv_year" placeholder="Enter Vehicle Year" required
                                min="1886" max="2050" value="<%= locals.inv_year %>"><br>
                            <label for="inv_description">Description:</label><br>
                            <textarea id="inv_description" name="inv_description" placeholder="Enter Vehicle Description" required
                                 rows="4"><%= locals.inv_description %></textarea><br>
                            <label for="inv_image">Image Path:</label><br>
                            <input type="text" id="inv_image" name="inv_image" required value="/images/vehicles/no-image.png" readonly><br>
                            <label for="inv_thumbnail">Thumbnail Path:</label><br>
                            <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="/images/vehicles/no-image-tn.png" readonly><br>
                            <label for="inv_price">Price:</label><br>
                            <input type="number" id="inv_price" name="inv_price" placeholder="Enter Vehicle Price" required
                                step="0.01" value="<%= locals.inv_price %>"><br>
                            <label for="inv_miles">Miles:</label><br>
                            <input type="number" id="inv_miles" name="inv_miles" placeholder="Enter Vehicle Miles" required
                                value="<%= locals.inv_miles %>"><br>
                            <label for="inv_color">Color:</label><br>
                            <input type="text" id="inv_color" name="inv_color" placeholder="Enter Vehicle Color" required
                                pattern="^[A-Za-z ]+$" value="<%= locals.inv_color %>"><br>                                                          
                            <input type="submit" value="Add Inventory Item">
                        </form>
                    </div>